*
!.*
!.*/
*.tmp
.dbus
.gvfs
.tmux
.bash_history*
.bash_logout
.xsession-errors*
.ICEauthority
.Xauthority
.dmrc
.face
.gtkrc-2.0
.gtkrc-xfce
.lesshst
.netbeans/
.netrc
.node_repl_history
.nvm
.pam_environment
.standard-v12-cache/.cache_15cis4q
.sudo_as_admin_successful
.tmux.conf*
.vim*
.vuerc
.wget-hsts
.xinputrc
.xscreensaver
.yarnrc
.fzf
