*
!.*
!.*/
*.tmp
.dbus
.gvfs
.tmux
.bash_history
.bash_history-02420.tmp
.bash_history-02667.tmp
.bash_history-02834.tmp
.bash_history-03348.tmp
.bash_history-03372.tmp
.bash_history-04048.tmp
.bash_history-04106.tmp
.bash_history-04166.tmp
.bash_history-07404.tmp
.bash_history-32683.tmp
.bash_logout
.xsession-errors
.xsession-errors.old
.ICEauthority
.Xauthority
.dmrc
.face
.gtkrc-2.0
.gtkrc-xfce
.lesshst
.netbeans/
.netrc
.node_repl_history
.nvm
.pam_environment
.standard-v12-cache/.cache_15cis4q
.standard-v12-cache/.cache_195zlli
.standard-v12-cache/.cache_1tjw49h
.standard-v12-cache/.cache_muft7i
.sudo_as_admin_successful
.tmux.conf
.tmux.conf.backup
.tmux.conf.local
.tmux.conf.save
.vim
.vim_runtime
.vimrc
.vimrc.for-vim_runtime
.vuerc
.wget-hsts
.xinputrc
.xscreensaver
.yarnrc

