init.license=MIT
init.author.name=Jean Bonilha
init.author.email=jeanbonilha.webdev@gmail.com
init.author.url=https://github.com/jean-bonilha
//registry.npmjs.org/:_authToken=a58b7f06-00cf-4e1f-bf67-99eceee7d525
strict-ssl=false
